.subscribe-container {
    background-color: #1c2237;
    padding: 4rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
  
.sub-subscription > p {
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
}
  
.sub-subscription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 24px;
    margin-right: 20px;
    padding: 24px;
    color: #fff;
  }

  .btn--subscribe { 
    margin-left: -8px;
  }
  
  .subscribe-input {
    display: flex;
    padding: 8px 24px;
    border-radius: 2px;
    margin-right: 10px;
    outline: none;
    border: none;
    font-size: 18px;
    margin-bottom: 16px;
    border: 1px solid #fff;
  }
  
  .subscribe-subscription-heading {
    margin-bottom: 24px;
    margin-right: 9px;
    font-size: 24px;
  }
  
  .subscribe-subscription-text {
    margin-bottom: 24px;
    font-size: 20px;
  }
  
  .website-rights {
    color: #fff;
    margin-bottom: 16px;
  }
  
  @media screen and (max-width: 820px) {
    .subscribe-input {
      width: 100%;
    }
  
    .btn {
      width: 100%;
    }
  
  }