.subscribe-container {
    background-color: #1c2237;
    padding: 4rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
  
.log-subscription > p {
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
}
  
.log-subscription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 24px;
    padding: 42px;
    color: #fff;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #d1d1d1;
    box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.3);
  }

  .btn--subscribe { 
    margin-left: -0.7px;
  }
  .btn--subscribe:hover { 
    background-color: rgb(207, 7, 7);
    color: white;
  }

  
  .log-input {
    display: flex;
    padding: 8px 24px;
    margin-right: 3px;
    outline: none;
    font-size: 18px;
    margin-bottom: 16px;
    color: #525865;
    border-radius: 4px;
    border: 1px solid #d1d1d1;
    box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.07);
  }
  
  .subscribe-subscription-heading {
    margin-bottom: 24px;
    margin-right: 9px;
    font-size: 24px;
  }
  
  .subscribe-subscription-text {
    margin-bottom: 24px;
    font-size: 20px;
  }
  
  .website-rights {
    color: #fff;
    margin-bottom: 16px;
  }
  
  @media screen and (max-width: 820px) {
    .log-input {
      width: 100%;
      font-size: 10px;
    }
  
    .btn {
      width: 100%;
    }
  
  }